In [81]:
import numpy as np
import pandas as pd

In [127]:
x = pd.read_csv('wineQualityRed_train.csv',';',header = 0)

In [128]:
df = pd.DataFrame(x)

In [129]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,10.6,0.280,0.39,15.5,0.069,6.0,23.0,1.00260,3.12,0.66,9.2,5
1,9.4,0.300,0.56,2.8,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8
2,10.6,0.360,0.59,2.2,0.152,6.0,18.0,0.99860,3.04,1.05,9.4,5
3,10.6,0.360,0.60,2.2,0.152,7.0,18.0,0.99860,3.04,1.06,9.4,5
4,10.6,0.440,0.68,4.1,0.114,6.0,24.0,0.99700,3.06,0.66,13.4,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1114,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1115,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1116,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1117,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1118,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [130]:
Y = df['quality']

In [131]:
Y.head()

0    5
1    8
2    5
3    5
4    6
Name: quality, dtype: int64

In [132]:
X = df[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]

In [133]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,10.6,0.28,0.39,15.5,0.069,6.0,23.0,1.0026,3.12,0.66,9.2
1,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.9964,3.15,0.92,11.7
2,10.6,0.36,0.59,2.2,0.152,6.0,18.0,0.9986,3.04,1.05,9.4
3,10.6,0.36,0.60,2.2,0.152,7.0,18.0,0.9986,3.04,1.06,9.4
4,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.9970,3.06,0.66,13.4

In [134]:
from sklearn import linear_model

In [135]:
model = linear_model.LinearRegression()

In [136]:
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [137]:
test = pd.read_csv('wineQualityRed_test.csv',';',header = 0)

In [138]:
test_df = pd.DataFrame(test)

In [139]:
test_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34,0.9978,3.51,0.56,9.4,5

In [140]:
X_test = test_df[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]
Y_test = test_df['quality']

In [141]:
X_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34,0.9978,3.51,0.56,9.4

In [142]:
Y_preds= model.predict(X_test)

In [143]:
comparison = pd.DataFrame({'  Actual Quality ': Y_test, '   Predicted Quality': Y_preds})

In [144]:
comparison

       Actual Quality      Predicted Quality
0                    5              4.940841
1                    5              5.167903
2                    5              5.214698
3                    6              5.649335
4                    5              4.940841
..                 ...                   ...
475                  5              5.379752
476                  5              5.752668
477                  6              6.660519
478                  5              5.379752
479                  6              5.481773

[480 rows x 2 columns]

In [145]:
from sklearn import metrics

In [146]:
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, Y_preds))

Mean Squared Error: 0.4463021333444592

In [147]:
total = 0;
for i in range (0,len(Y_test)):
    total = total + (Y_test[i] - Y_preds[i])**2
total

214.22502400534034

In [148]:
mean_squared_error = total/len(Y_test)

In [149]:
mean_squared_error

0.44630213334445906

In [150]:
import matplotlib.pyplot as plt

In [151]:
coeff_df = pd.DataFrame(model.coef_, ['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol'], columns=['Coefficient'])
coeff_df

                      Coefficient
fixed acidity           -0.005731
volatile acidity        -1.071489
citric acid             -0.063048
residual sugar           0.010234
chlorides               -1.940448
free sulfur dioxide      0.003516
total sulfur dioxide    -0.002155
density                -26.891259
pH                      -0.634244
sulphates                1.241948
alcohol                  0.267755

In [152]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,10.6,0.28,0.39,15.5,0.069,6.0,23.0,1.0026,3.12,0.66,9.2,5
1,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.9964,3.15,0.92,11.7,8
2,10.6,0.36,0.59,2.2,0.152,6.0,18.0,0.9986,3.04,1.05,9.4,5
3,10.6,0.36,0.60,2.2,0.152,7.0,18.0,0.9986,3.04,1.06,9.4,5
4,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.9970,3.06,0.66,13.4,6

In [153]:
df['quality'].value_counts()

6    462
5    448
7    150
4     37
8     13
3      9
Name: quality, dtype: int64

In [154]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [155]:
df['quality_label'] = df['quality'].map({3 : 'bad', 4 :'bad', 5: 'bad',
                                      6: 'good', 7: 'good', 8: 'good'})

In [156]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,10.6,0.28,0.39,15.5,0.069,6.0,23.0,1.0026,3.12,0.66,9.2,5,bad
1,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.9964,3.15,0.92,11.7,8,good
2,10.6,0.36,0.59,2.2,0.152,6.0,18.0,0.9986,3.04,1.05,9.4,5,bad
3,10.6,0.36,0.60,2.2,0.152,7.0,18.0,0.9986,3.04,1.06,9.4,5,bad
4,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.9970,3.06,0.66,13.4,6,good

In [157]:
df['quality_label'].value_counts()

good    625
bad     494
Name: quality_label, dtype: int64

In [158]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
logistic = LogisticRegression()

In [184]:
X = df[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]

In [185]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['quality_label'] = le.fit_transform(df['quality_label'])

df['quality_label'].value_counts

<bound method IndexOpsMixin.value_counts of 0       0
1       1
2       0
3       0
4       1
       ..
1114    0
1115    1
1116    1
1117    0
1118    1
Name: quality_label, Length: 1119, dtype: int64>

In [186]:
Y = df['quality_label']

In [187]:
logistic.fit(X,Y)

C:\Users\giris\desktop\sample_project_1\enc\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [188]:
test = pd.read_csv('wineQualityRed_test.csv',';',header = 0)
test_df = pd.DataFrame(test)

In [189]:
test_df['quality_label'] = test_df['quality'].map({3 : 'bad', 4 :'bad', 5: 'bad',
                                      6: 'good', 7: 'good', 8: 'good'})

In [190]:
le = LabelEncoder()

test_df['quality_label'] = le.fit_transform(test_df['quality_label'])

In [191]:
X_test = test_df[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]
Y_test = test_df['quality_label']

In [192]:
Y_test,Y_preds

(0      0
 1      0
 2      0
 3      1
 4      0
       ..
 475    0
 476    0
 477    1
 478    0
 479    1
 Name: quality_label, Length: 480, dtype: int32,
 array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
        0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0]))

In [193]:
logistic.score(X_test,Y_test)

0.7125

In [194]:
print(confusion_matrix(Y_test, Y_preds))

[[191  59]
 [ 79 151]]

In [195]:

linear = linear_model.LinearRegression()
linear.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [196]:
Y_preds = linear.predict(X_test)

In [197]:
Y_preds,Y_test

(array([ 0.22007343,  0.3018336 ,  0.32442652,  0.46296118,  0.22007343,
         0.23344209,  0.20829731,  0.37656718,  0.37224313,  0.53680972,
         0.21763693,  0.53680972,  0.28119204,  0.88378276,  0.30282088,
         0.32742528,  0.6238965 ,  0.57807506,  0.19356705,  0.55941072,
         0.40997117,  0.39471072,  0.62984247,  0.28391585,  0.49207402,
         0.41905546,  0.46139856,  0.62984247,  0.22659051,  0.39676317,
         0.27656095,  0.45992059,  0.26592995,  0.25811259,  0.34573388,
         0.31904484,  0.53931639,  0.59886606, -0.01285229,  0.60289024,
         0.60289024,  0.21673536,  0.64315389,  0.86080313,  0.29253887,
         0.78114167,  0.01438881,  0.42121225,  0.4031456 ,  0.27836115,
         0.37612223,  0.43604167,  0.45188717,  0.27453888,  0.52451259,
         0.31111464,  0.51050211,  0.37422199,  0.36363024,  0.32941789,
         0.33750956,  0.14070175,  0.37767669,  0.25983478,  0.39874597,
         0.39874597,  0.35441579,  0.48614983,  0.7372426 ,  0.72076083,
         0.32459333,  0.08936672,  0.09270603,  0.16368344,  0.52316278,
         0.48058587,  0.48058587,  0.38938288,  0.20054616,  0.48759869,
         0.35166344,  0.53026948,  0.19588336,  0.42740647,  0.6539836 ,
         0.45917897,  1.19976122,  0.42373602,  0.69921287,  0.18728727,
         0.20436991,  1.19976122,  1.20668192,  0.42373602,  0.15687916,
         0.67697291,  0.41804254,  0.37975804,  0.24344773,  0.28058578,
         0.37396236,  0.51881076,  0.28058578,  0.17532765,  0.27736914,
         0.17532765,  0.5379609 ,  0.31102523,  0.47512582,  0.02935511,
         0.56232576,  0.29040209,  0.30147282,  0.5179136 ,  0.56232576,
         0.58815269,  0.40497602,  0.26793759,  0.56154731,  0.11466149,
        -0.18262037,  0.56154731,  0.1931194 ,  0.22587001,  0.17087588,
         0.28993906,  0.11394855,  0.10529227,  0.7252266 ,  0.43245014,
         0.05933303,  0.83711865,  0.83711865,  0.4899749 ,  0.2001447 ,
         0.40315693,  0.35985469,  0.33200484,  0.16627099,  0.16744488,
         0.40315693,  0.35985469,  1.31528054,  0.45156216,  1.31528054,
         0.07694122,  0.20667261,  0.29371598,  0.50723233,  0.49908244,
         0.56196232,  0.92730687,  0.30223288,  0.30223288,  0.47575188,
         0.46745522,  0.47575188,  0.46745522,  0.22199796,  0.13240868,
         0.20894233,  0.65028906,  0.47060613,  0.13080133,  0.13327163,
         0.18053753,  0.25744272,  0.22281215,  0.39844069,  0.76366656,
         0.00231009,  0.41590392,  0.41590392,  0.65918009,  0.34683831,
         0.5140023 ,  0.34683831,  0.43460512,  0.24012665,  0.34144072,
         0.34144072,  0.3110184 ,  0.17976706,  0.16667312,  0.16199672,
         0.33729911,  0.25072389,  0.24222925,  0.11977544,  0.13115472,
         0.20032583,  0.45515932,  0.14684167,  0.37610612,  0.37610612,
         0.12892111,  0.37919228,  0.83173864,  0.83371163,  0.29075015,
         0.76252093,  0.54722422,  0.50971179,  0.32520162,  0.32265509,
         0.73190595,  0.73190595,  0.12294794,  0.33093333,  0.80973982,
         1.00639582,  0.24442828,  0.55992258,  0.33051415,  0.3882402 ,
         0.49578144,  0.54341243,  0.14982311,  0.35235735,  0.14987857,
         0.40596103,  0.28499028,  0.389756  ,  0.38250017,  0.37359628,
         0.55455394,  0.8036664 ,  0.28132427,  0.55455394,  0.50730602,
         0.72921865,  0.43574504,  0.48363241,  0.50730602,  0.01770857,
         0.22899927,  0.22899927,  0.25439896,  0.22899927,  0.01770857,
         0.44214323,  0.70455443,  0.25640066,  0.64466401,  0.64466401,
         0.56881799,  0.22394729,  0.14915619,  0.33745134,  0.56881799,
         0.66513131,  0.47630809,  0.5570911 ,  0.09688214,  0.47630809,
         0.13977405,  0.45082042,  0.23259385,  0.44373416,  0.7182003 ,
         0.4766416 ,  0.0715533 ,  0.45773411,  0.47867382,  0.74592637,
         0.71551465,  0.24538185,  1.13889331,  0.49685465,  0.82631245,
         0.60654712,  0.82631245,  0.57730967,  0.27314342,  0.31304335,
         0.60654712,  0.49685465,  0.82631245,  1.15186716,  0.64296325,
         0.64236164,  0.69402276,  0.26321182,  0.64296325,  0.42249037,
         0.42249037,  0.62907192,  0.64345161,  0.71546841,  0.46637433,
         0.71546841,  0.56392337,  0.49085849,  0.54488984,  0.54524584,
         0.4067076 ,  0.18387421,  0.35383548,  0.3858755 ,  0.31254918,
         0.56803364,  0.67905628,  0.40149738,  0.19502928,  0.02854263,
         0.32663138,  0.17233756,  0.35817727,  0.35279044,  0.41825612,
         0.32663138,  0.17876585,  0.27145239,  0.15701369,  0.68783902,
         0.68694476,  0.40070515,  0.38479609,  0.62014344,  0.38479609,
         0.62014344,  0.28084712,  0.35493615,  0.34653587,  0.41642252,
         0.41642252,  0.77383397,  0.8675153 ,  0.53460492,  0.44851771,
         0.88262514,  0.88262514,  0.15822126,  0.57817635,  0.79170024,
         0.8299244 ,  0.98561302,  0.56537138,  0.81630918,  1.03464608,
         0.81199618,  0.90244289,  0.54185698,  0.54185698,  0.61635188,
         0.48991145,  0.87592348,  1.00737084,  0.64847308,  0.3980456 ,
         0.5911461 ,  0.37749391,  0.40653359,  0.8733845 ,  0.74761856,
         0.80847522,  0.81057894,  0.8227659 ,  0.68194825,  0.45405788,
         0.24049172,  0.6392467 ,  0.35046379,  0.7177238 ,  0.41908127,
         0.98165687,  0.41908127,  0.30557405,  0.30605107,  1.26886894,
         0.42443627,  0.5800349 ,  0.95817325,  0.29253766,  0.69556951,
         0.87520801,  0.93290134,  1.26886894,  1.17561789,  0.64668701,
         0.63132368,  0.58436898,  0.63132368,  0.63132368,  0.37369044,
         0.43194927,  0.3744787 ,  0.28298285,  0.39929625,  0.56437583,
         0.80495366,  0.58436898,  0.36693726,  0.01873545,  0.36268339,
         0.92383957,  0.23558394,  0.53693579,  0.53693579,  0.23097575,
         0.23558394,  0.66928431,  0.48500372,  0.46378968,  0.29282727,
         0.67433094,  0.64618793,  0.61620594,  0.76182342,  0.42915524,
         0.31714519,  0.31348137,  0.17791871,  0.91653564,  0.20128267,
         0.34461247,  0.73059908,  0.27858019,  0.63323629,  0.36385322,
         0.79113098,  0.67853377,  0.24265183,  0.962767  ,  0.24265183,
         0.67853377,  0.5438146 ,  0.37129921,  0.3370752 ,  0.31019133,
         0.962767  ,  0.2392926 ,  1.04327849,  0.32084382,  0.6509906 ,
         0.32084382,  0.42526469,  0.69183928,  0.6509906 ,  0.31908647,
         0.67758364,  0.7614269 ,  0.51121453,  0.7912419 ,  1.00767844,
         0.33874757,  0.63370805,  0.74675997,  0.46519932,  0.62008122,
         0.62008122,  0.48281108,  0.469303  ,  0.77720025,  0.71660146,
         0.97671059,  0.40203341,  0.28730549,  0.77720025,  0.13064707,
         0.69363074,  0.31525391,  0.85761283, -0.0249097 ,  0.52354191,
         0.64591756,  0.77497578,  1.27260476,  0.36417062,  0.36178   ,
         0.60061107,  0.73820047,  0.66787927,  0.7640812 ,  0.66087756,
         0.40848536,  0.58771072,  1.06359824,  0.40848536,  0.47159758]),
 0      0
 1      0
 2      0
 3      1
 4      0
       ..
 475    0
 476    0
 477    1
 478    0
 479    1
 Name: quality_label, Length: 480, dtype: int32)

In [198]:
from sklearn.svm import SVC
support = SVC()

In [199]:
support.fit(X,Y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [200]:
Y_preds = support.predict(X_test)

In [201]:
Y_preds,Y_test

(array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
        1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
        0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
        1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
        0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64),
 0      0
 1      0
 2      0
 3      1
 4      0
       ..
 475    0
 476    0
 477    1
 478    0
 479    1
 Name: quality_label, Length: 480, dtype: int32)

In [202]:
support.score(X_test,Y_test)

0.6229166666666667

In [203]:
print(confusion_matrix(Y_test, Y_preds))

[[ 89 161]
 [ 20 210]]

In [204]:
from sklearn.naive_bayes import GaussianNB 
naive = GaussianNB()

In [205]:
naive.fit(X,Y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [206]:
Y_preds = naive.predict(X_test)

In [207]:
Y_test,Y_preds

(0      0
 1      0
 2      0
 3      1
 4      0
       ..
 475    0
 476    0
 477    1
 478    0
 479    1
 Name: quality_label, Length: 480, dtype: int32,
 array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
        0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0], dtype=int64))

In [208]:
naive.score(X_test,Y_test)

0.7125

In [210]:
A = confusion_matrix(Y_test, Y_preds)
A

array([[191,  59],
       [ 79, 151]], dtype=int64)

In [217]:
naive_acc = (A[0][0] + A[1][1])/(A[0][0] + A[0][1] + A[1][0] + A[1][1])
naive_prec = A[0][0]/(A[0][0] + A[0][1])
naive_recall = A[0][0]/(A[0][0] + A[1][0])
naive_f1 = 2*naive_recall*naive_prec/(naive_recall + naive_prec)
naive_sensitivity = naive_recall = A[1][1]/(A[0][1] + A[1][1])

In [218]:
naive_acc,naive_prec,naive_recall,naive_f1

(0.7125, 0.764, 0.719047619047619, 0.7346153846153844)

In [219]:
print(metrics.classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.71      0.76      0.73       250
           1       0.72      0.66      0.69       230

    accuracy                           0.71       480
   macro avg       0.71      0.71      0.71       480
weighted avg       0.71      0.71      0.71       480